<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.binaryer.shjy.biz.mapper.ShjyGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="tech.binaryer.shjy.biz.entity.ShjyGoodsEntity">
        <id column="id" property="id" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_specifically" property="goodsSpecifically" />
        <result column="goods_degree" property="goodsDegree" />
        <result column="goods_guiding_price" property="goodsGuidingPrice" />
        <result column="goods_group_price" property="goodsGroupPrice" />
        <result column="goods_series" property="goodsSeries" />
        <result column="goods_pictures" property="goodsPictures" />
        <result column="goods_remark" property="goodsRemark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods_name, goods_specifically, goods_degree, goods_guiding_price, goods_group_price, goods_series, goods_pictures, goods_remark
    </sql>

</mapper>
