<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.binaryer.shjy.biz.mapper.ShjyOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="tech.binaryer.shjy.biz.entity.ShjyOrderEntity">
        <id column="id" property="id" />
        <result column="goods_order" property="goodsOrder" />
        <result column="goods_order_createtime" property="goodsOrderCreatetime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods_order, goods_order_createtime
    </sql>

</mapper>
